job:
  name: test-jobman
  env_type: docker
  loop: true
  remote_user: zephyr

tpu:
  allocation_mode: "queued-resources"    # tpu-vm | queued-resources
  accelerator: v4-128
  name: yufeng-${tpu.accelerator}
  zone: us-central2-b
  version: tpu-ubuntu2204-base
  pricing: spot
  # spot | ondemand | preemptible
  startup_script: null
  tags: ["jobman", "experiment"]
  metadata:
    owner: "yufeng"
    purpose: "test"

gcsfuse:
  bucket_name: llm_pruning_us_central2_b
  mount_path: /home/zephyr/gcs-bucket

ssh:
  private_key: ~/.ssh/id_rsa
  identities:
    - private_key: ~/.ssh/id_rsa
      public_key: ~/.ssh/id_rsa.pub
      config_entry: | 
        Host 10.*
          IdentityFile ~/.ssh/id_rsa
          IdentitiesOnly yes

docker:
  image: yx3038/maxtext_base_image:latest
  env_vars:
    - HOME=/home/zephyr
  mount_dirs:
    - /home/zephyr
  workdir: /home/zephyr
  flags: ["--privileged", "--network=host"]

conda:
  name: fms
  config_file: assets/fms.yaml

venv:
  name: maxtext_env
  requirements_file: assets/requirements_maxtext.txt  
  python: "python3.9"  

command:
  cmd: |
    
    export BUCKET_NAME=${gcsfuse.bucket_name}

    gcloud config set project vision-mix

    gcloud config set compute/zone ${tpu.zone}

    cd /home/zephyr/

    cd maxtext && git config pull.rebase false && git pull origin test || (git clone -b test git@github.com:Zephyr271828/maxtext.git && cd maxtext)

    cd /home/zephyr/maxtext

    git submodule update --init --recursive

    # bash scripts/llama3.1_4b_width_S50_3e-4_warmup_0.05.sh
  workers: [0] # int | list | "all"

brevo_email:
  api_key: null
  sender: null
  receiver: null