job:
  name: test-v4
  env_type: venv
  loop: true
  remote_user: zephyr

tpu:
  allocation_mode: "queued-resources"    # tpu-vm | queued-resources
  accelerator: v4-64
  name: yufeng-${tpu.accelerator}
  zone: us-central2-b
  version: tpu-ubuntu2204-base
  pricing: spot
  # spot | ondemand | preemptible
  flags: []

gcsfuse:
  bucket_name: llm_pruning_us_central2_b
  mount_path: /home/zephyr/gcs-bucket

ssh:
  private_key: ~/.ssh/id_rsa
  identities:
    - private_key: ~/.ssh/id_rsa
      public_key: ~/.ssh/id_rsa.pub
      config_entry: | 
        Host 10.*
          IdentityFile ~/.ssh/id_rsa
          IdentitiesOnly yes
    - private_key: ~/.ssh/id_ed25519_github
      public_key: ~/.ssh/id_ed25519_github.pub
      config_entry: |
        Host github.com
          User git
          IdentityFile ~/.ssh/id_ed25519_github
          IdentitiesOnly yes

docker:
  image: yx3038/maxtext_base_image:latest
  flags: 
    - "--privileged"
    - "--network=host"
    - "--env HOME=/home/zephyr"
    - "-v /home/zephyr:/home/zephyr"
    - "-v /dev:/dev"
    - "-v /run:/run"
    - "-v /home/zephyr/.config/gcloud:/root/.config/gcloud"
    - "-w /home/zephyr"

conda:
  name: fms
  config_file: /n/fs/vision-mix/yx1168/jobman-exp/assets/fms.yaml

venv:
  name: maxtext_env
  requirements_file: /n/fs/vision-mix/yx1168/jobman-exp/assets/requirements_maxtext.txt  
  python: "3.10"  

command:
  cmd: |
    
    gcloud config set project vision-mix

    gcloud config set compute/zone ${tpu.zone}

    export TPU_PREFIX=${tpu.name}

    export BUCKET_NAME=${gcsfuse.bucket_name}

    cd /home/zephyr/

    cd maxtext && git config pull.rebase false && git pull origin test || (GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" git clone -b test git@github.com:Zephyr271828/maxtext.git && cd maxtext)

    cd /home/zephyr/maxtext

    git submodule update --init --recursive

    bash scripts/llama3.1_4b_width_S50_3e-4_warmup_0.05.sh

    # cd lm-evaluation-harness

    # bash scripts/test_orabx_eval.sh

  workers: [0] # int | list | "all"

brevo_email:
  api_key: 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
  sender: zephyr271828@gmail.com
  receiver: yx3038@nyu.edu