job:
  name: test-v6
  env_type: venv
  remote_user: zephyr
  loop: False

tpu:
  allocation_mode: "queued-resources"    # tpu-vm | queued-resources
  accelerator: v6e-4
  name: yufeng-${tpu.accelerator}
  zone: us-east1-d
  version: v2-alpha-tpuv6e
  pricing: spot                   
  # spot | ondemand | preemptible
  flags: []

gcsfuse:
  bucket_name: llm_pruning_us_east1_d
  mount_path: /home/zephyr/gcs-bucket

ssh:
  private_key: ~/.ssh/id_rsa
  identities:
    - private_key: ~/.ssh/id_rsa
      public_key: ~/.ssh/id_rsa.pub
      config_entry: | 
        Host 10.* 34.* 35.*
          IdentityFile ~/.ssh/id_rsa
          IdentitiesOnly yes
    - private_key: ~/.ssh/id_ed25519_github
      public_key: ~/.ssh/id_ed25519_github.pub
      config_entry: |
        Host github.com
          User git
          IdentityFile ~/.ssh/id_ed25519_github
          IdentitiesOnly yes

docker:
  image: yx3038/maxtext_base_image:latest
  flags: 
    - "--privileged"
    - "--network=host"
    - "--env HOME=/home/zephyr"
    - "-v /home/zephyr:/home/zephyr"
    - "-v /dev:/dev"
    - "-v /run:/run"
    - "-v /home/zephyr/.config/gcloud:/root/.config/gcloud"
    - "-w /home/zephyr"

conda:
  name: fms
  config_file: /n/fs/vision-mix/yx1168/jobman-exp/assets/fms.yaml

venv:
  name: maxtext_env
  requirements_file: /n/fs/vision-mix/yx1168/jobman-exp/assets/requirements_maxtext.txt  
  python: "3.10"  

command:
  cmd: |
    gcloud config set project vision-mix

    gcloud config set compute/zone ${tpu.zone}

    export TPU_PREFIX=${tpu.name}

    export BUCKET_NAME=${gcsfuse.bucket_name}

    cd /home/zephyr/

    cd maxtext && git config pull.rebase false && git pull origin test || (GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" git clone -b test git@github.com:Zephyr271828/maxtext.git && cd maxtext)

    cd /home/zephyr/maxtext

    git submodule update --init --recursive

    # bash scripts/llama3.1_4b_depth_S250_lr_3e-4.sh
    bash scripts/train_test.sh
    
  workers: [0] # int | list | "all"

brevo_email:
  api_key: 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
  sender: zephyr271828@gmail.com
  receiver: yx3038@nyu.edu